#main p {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

#main p:first-of-type {
  text-align: left;
  margin-top: 0;
  padding-top: 0;
}

#main hr {
  border: 0;
  border-top: 1px solid #bbb;
  margin: 1rem 0;
  height: 0;
}

#main a {
  text-decoration: underline;
  color: $color-link;
}

#main a:hover,
#main a:focus {
  text-decoration: none;
  color: $color-link-hover;
}

#main h1 {
  font-family: $font-heading;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.post-title {
  margin-bottom: 2px;
}

.post-date {
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
}

#main h2 {
  font-family: $font-heading;
  font-size: 16px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

#main h3 {
  font-family: $font-heading;
  font-size: 15px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

#main h4,
#main h5,
#main h6 {
  font-family: $font-heading;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}