#titlebar {
  height: 30px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background:
    url(../images/titlebar-left.png) no-repeat left top,
    url(../images/titlebar-right.png) no-repeat right top,
    url(../images/titlebar-center.png) repeat-x center top;
}

#titlebar h1 {
  padding-left: 21px;
  margin: 0;
  margin-left: 5px;
  width: 510px;
  position: relative;
  color: #ffffff;
  text-align: left;
  font-size: 13px;
  line-height: 30px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: left center;
}